<?xml version="1.0"?>
<!--
 * @author Marcel de Koning
 * @copyright Marcel de Koning, All rights reserved.
 * @package Mdkdev_ImprovedSorting
 -->
<config
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd"
>
  <module name="Mdkdev_ImprovedSorting">
    <sequence>
      <module name="Magento_Catalog"/>
      <module name="Magento_Eav"/>
      <module name="Magento_Elasticsearch"/>
      <module name="Magento_Store"/>
      <module name="Mdkdev_Core"/>
    </sequence>
  </module>
</config>
